html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
  background-color: #1F2937;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.header {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  width: 80%;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
  list-style-type: none;
}

.content-one {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 32px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 35%;
}

.top-img {
  width: 400px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  padding: 4px 12px;
  color: white;
  background-color: #3882F6;
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

.content-two {
  text-align: center;
  margin: 48px;
}

.info img {
  width: 300px;
  height: 300px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 200px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding: 0 0 48px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info div {
  width: 300px;
}

strong {
  font-size: larger;
}

.quote {
  background-color: #E5E7EB;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote div {
  font-size: 36px;
  color: #1F2937;
  width: 40%;
}

.quote strong {
  float: right;
}